{% extends 'base.html.twig' %}

{% block title %}Edit Bug{% endblock %}

{% block body %}
<section>
    <div class="container">
        <div class="row">
            <div class="col s8 margin-2vw">
                <div class="card padding-2vw">
                    <div class="card-title">
                        <h5>Modifier votre bug</h5>
                    </div>
                    <div class="card-text">
                             {{ include('bug/_form.html.twig', {'button_label': 'Sauvegarder'}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="{{ path('bug_index') }}"><i class="material-icons">chevron_left</i></a>
</section>
{% endblock %}
