{% extends 'base.html.twig' %}

{% block title %}Vetixy - Evolution{% endblock %}

{% block body %}
<section class="newEvolutionSection">
    <div class="container">
        <div class="row">
            <div class="col s8 margin-2vw">
                <div class="card padding-2vw">
                    <div class="card-title">
                        <h5>Proposition d'évolution possible de l'application</h5>
                    </div>
                    <div class="card-text">
                        {{ include('evolution/_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
